{% extends "base.html" %}
  {% block content %}
  	<div id="comments">
      <h2>Mentions of {{ user }}</h2>
      <ul id="comments">
        {% for comment in mentions %}
          <li class='comment'>
            <p>
              {{ comment.decorated_content }}
            </p>
            <div class="byline">
              <a href="{{ comment.author_profile }}">{{ comment.author }}</a>
              {{ comment.posted_at|timesince }} ago
              <a href="{{ comment.parent_uri }}">via</a>
            </div>
          </li>
        {% endfor %}
      </ul>
  	</div>
  {% endblock %}