<html>
<head>
  <title>Comments</title>
  <style type="text/css">
    .entry { margin-bottom: 1em; }
  </style>
  <script type="text/javascript" charset="utf-8" src="/static/agg.js"></script>
</head>
<body>

<h1>Salmon aggregation page - shows all salmon posted regardless of parent</h1>

<div id="content">
{% if not entries %}
Nothing yet.
{% else %}
{% for entry in entries %}
<div class="entry">
  <div>
    <strong>{% if entry.title %}{{entry.title}}{% else %}No title{% endif %}</strong>
    at <em>{{entry.updated}}</em>
    {% if entry.author_uri %}
      <div>by <a href="{{entry.author_uri}}">{{entry.author_name}}</a></div>
    {% endif %}
    {% if entry.link %}
      <div>from <a href="{{entry.link}}">{{entry.link}}</a></div>
    {% endif %}
  </div>
  <div>
    {% if entry.content %}{{entry.content}}{% else %}No content{% endif %}
  </div>
</div>
{% endfor %}
{% endif %}
</div>

</body>
</html>
